<div class="bg-light">
    <app-menubar></app-menubar>
    <main>
        <section class="jumbotron text-center my-2">
            <div class="container">
                <h1 class="jumbotron-heading text-center">
                    Reporte individual de Practicante
                </h1>
            </div>
        </section>

        <div class="container">
            <div class="py-4 d-flex justify-content-center">
                <form>
                    <div class="form-group mb-3">
                        <label for="carnet">Carnet</label>
                        <input class="form-control item" id="carnet" name="inputCarnet" placeholder="200000000" [(ngModel)]="reporte.carnet">
                    </div>
                    <div class="form-group mb-3">
                        <label for="nombre">Nombre</label>
                        <input class="form-control item" id="nombre" name="inputNombre" placeholder="Nombre completo" [(ngModel)]="reporte.nombre">
                    </div>
                    <div class="form-group mb-3">
                        <label for="proyecto">Tema</label>
                        <input class="form-control item" id="proyecto" name="inputProyecto" placeholder="Nombre del curso o proyecto" [(ngModel)]="reporte.tema">
                    </div>
                    <div class="form-group mb-3">
                        <label for="procesado">Procesador por</label>
                        <input class="form-control item" id="procesado" name="inputProcesado" placeholder="No. (Servidor)" [(ngModel)]="reporte.servidor">
                    </div>
                    <div class="form-group mb-3">
                        <label for="fecha">Fecha</label>
                        <input class="form-control item" type="text" id="fecha" name="inputFecha" [(ngModel)]="reporte.fecha">
                    </div>
                    <div class="form-group mb-3">
                        <label for="cuerpo">Cuerpo del reporte</label>
                        <textarea rows="5" class="form-control item" id="cuerpo" name="inputCuerpo" placeholder="Todo bien." [(ngModel)]="reporte.reporte"></textarea>
                    </div>

                </form>
            </div>
        </div>
    </main>
</div>