<div class="bg-light">
    <app-menubar></app-menubar>
    <main>
        <section class="jumbotron text-center my-2">
            <div class="container">
                <h1 class="jumbotron-heading text-center">
                    Lista de asistencias al evento
                </h1>
            </div>
        </section>
        <div class="container">
            <div class="py-5 d-flex justify-content-center">
                <div>
                    <div class="form-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Id</span>
                            </div>
                            <input type="text" class="form-control" id="idEvento" aria-describedby="basic-addon3" placeholder="Id Evento" [(ngModel)]="idEvento">
                            <button type="button" class="me-2 btn btn-outline-success" (click)="buscarEvento()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive my-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Carnet</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Nombre evento</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Servidor</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reporte of reportes; let i = index">
                            <td>{{reporte.carnet}}</td>
                            <td>{{reporte.nombre}}</td>
                            <td>{{reporte.nombreEvento}}</td>
                            <td>{{reporte.fecha | date :'dd-MM-yyyy'}}</td>
                            <td>{{reporte.servidor}}</td>
                            <td><img [src]="reporte.imagen || no_disponible" class="card-img-top" alt="..." style="max-width: 250px;" height="150"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>


</div>