<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Usac_logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top"> Proyecto R2
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/agregarAsistencia']">Agregar Asistencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/ingresarReporte']">Ingresar Reporte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/listaReportes']">Lista de Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/listaAsistencia']">Listar asistencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/listaEvento']">Listar asistencia alumno</a>
                </li>
            </ul>
        </div>
    </div>
</nav>